html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;

  ////////////////////
  // Responsive font-size
  //
  font-size: 88%;

  @include media-breakpoint-up(md) {
    font-size: 100%;
  }
}

a:hover {
  text-decoration: none;
}
