////////////////////
// Header intro
//
// container style and background
.intro {
  height: 100vh;
  padding-bottom: 10vh;
  background: url("../img/yellow-audi1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  // Adjust SEE MORE button
  &__btn {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
    margin-top: 35vh;
    @include media-breakpoint-up(sm) {
      margin-top: 0;
    }
  }

  // Button with arrow in middle to scroll down
  &__btn-arrow {
    height: 7vh;
    width: 7vh;
    background: $secondary;
    border: none;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: 0.7vh;
    transform: translate(-50%, -0.5vh);
    transition: all 0.15s ease-in-out;

    &:hover {
      width: 8vh;
      height: 8vh;
      bottom: 0.1vh;

      svg {
        transform: scale(1.2);
      }
    }

    svg {
      transition: all 0.15s ease-in-out;
      width: 3vh;
    }
  }
}
