////////////////////
// Header intro
//
// container style and background
.intro {
  height: 95vh;
  background: url("../img/yellow-audi-small.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @include media-breakpoint-up(sm) {
    background: url("../img/yellow-audi-medium.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include media-breakpoint-up(lg) {
    background: url("../img/yellow-audi.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  // Adjust SEE MORE button
  &__btn {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
    @include media-breakpoint-up(sm) {
      margin-top: 0;
    }
  }

  // Button with arrow in middle to scroll down
  &__btn-arrow {
    height: 3.5rem;
    width: 3.5rem;
    background: $secondary;
    border: none;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: -3.6rem;
    transform: translate(-50%, -50%);
    transition: all 0.15s ease-in-out;

    &:hover {
      height: 3.7rem;

      svg {
        transform: scaleY(-0.2rem);
      }
    }

    svg {
      transition: all 0.15s ease-in-out;
      width: 1.5rem;
    }
  }
}
