////////////////////
// Header intro
//
// container style and background
.intro {
  height: 95vh;
  background: url("../img/yellow-audi1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  // Adjust SEE MORE button
  &__btn {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
    @include media-breakpoint-up(sm) {
      margin-top: 0;
    }
  }

  // Button with arrow in middle to scroll down
  &__btn-arrow {
    height: 3.5rem;
    width: 3.5rem;
    background: $secondary;
    border: none;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: -2.1rem;
    transform: translate(-50%, -0.5vh);
    transition: all 0.15s ease-in-out;

    &:hover {
      width: 4rem;
      height: 4rem;
      bottom: -2.5rem;

      svg {
        transform: scale(1.2);
      }
    }

    svg {
      transition: all 0.15s ease-in-out;
      width: 1.5rem;
    }
  }
}
