////////////////////
// Navbar
//
.navbar {
  backdrop-filter: blur(5px);
  @include media-breakpoint-up(sm) {
    &::before {
      content: "";
      flex: 1;
    }
  }
}
.navbar-dark {
  background: rgba($primary, 0.8);
}

////////////////////
// Navbar button
//
// Wrapper to align button to the right
.navbar-btn-wraper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

// Hamburger menu button
.navbar-toggler {
  border: none;
  padding: 0;
  height: $dropdown-btn-height;
  font-size: 0;
  line-height: inherit;
}

.navbar-toggler-icon {
  position: relative;

  &,
  &::before,
  &::after {
    width: 2rem;
    height: 1px;
    background-color: $secondary;
    display: inline-block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  &::before {
    top: calc(#{$dropdown-btn-height} / -2);
  }
  &::after {
    top: calc(#{$dropdown-btn-height} / 2);
  }
}

////////////////////
// Navbar brand
//
.navbar-brand {
  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }
}
